<h1>HOME</h1>
{{template "lorem"}}

{{define "lorem"}}
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem totam explicabo
  tenetur vitae optio doloribus distinctio porro atque deleniti. Ea, maxime
  ipsum eos similique quas reiciendis cum corrupti doloremque consequatur
  necessitatibus accusamus, laudantium, atque delectus sint dignissimos animi
  eius vel esse recusandae? Minima a, nihil neque non odit ipsum modi?
</p>
{{ end }}
